body{
    width: 100%;
    display: flex;
      
    justify-content: center;
    background-color: rgb(204, 194, 213);
    


}
h1{
    text-align: center;
}

form{
    
    padding: 20px;
    display: flex;
   
    
     
}
fieldset{
    font-size: 20px;
    width: 500px;
    height: 300px;
    border: solid;
    border-radius: 1.2em;
    background-color:rgb(142, 113, 168) ;
    margin: 15px;
    padding: 15px;
}
input{
    background-color: rgb(204, 194, 213);
    padding: 8px;
    border-radius: 1.2em;
}