header{
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    background-color: brown;
}
.banner{
    margin:20px ;
    padding: 60px;
   
    text-align: center;
    
}  
nav{
   border: solid;
    width: 100%;
    margin: 10px 0;
    padding: 0;
    background-color: black;
    
}  
nav ul {
    padding: 10px;
    margin: 10px;
    text-align: center;
    
   
}
nav li{
    display: inline;
    padding: 20px;
     
}
nav a{
    text-decoration: none;
    color: white;
}
footer{
    text-align: center;
    width: 100%;
    background-color: brown;
    color: white;
}