body{
    margin:10px;
    padding: 0;

}
header{
    margin: 0;
    width: 100%;
    height: 300px;
    background-color: #1E3A8A;
    border: solid;
     
}
.bann{
    text-align: center;
    padding: 30px;
}
nav{
    border: solid;
    padding: 0;
    margin: 10px 0;
    width: 100%;
    background-color: #E5E7EB;
    font-family: Arial, Helvetica, sans-serif;
}
nav ul{
    text-align: center;
    margin: 10px;
    padding: 10px;
    
}
nav li{
    display: inline;
    padding: 30px;
}
nav a{
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    
}
nav a:hover{
    background-color: #a5b0cf;
    transform: scale(1.1);
    
}
nav a:active{
    transform: scale(0.95);
}
footer{
    width: 100%;
    text-align: center;
    background-color: #1E3A8A;
    color:black;
}
iframe{
    border: 1px solid #D1D5DB;
}
