body{
    margin: 0;
    padding: 0;
}
header{

     border: 1.2em;
     background-color: antiquewhite;
     margin: 20px;
     border-radius: 1.3em;
      
     height: 300px;
}
nav{
     
    border: solid;
    background-color:bisque;
    padding: 10px 0;
    text-align: center;
    border-radius: 1.6em;

}
nav ul{
    
     
    padding: 0;
    margin: 0;

}
nav li{
    
    display: inline;
    margin: 0 40px  ;
}
nav a{
    text-decoration: none;
    color: black;
}
footer{
    background-color: rgb(192, 76, 41);
    border: 1em;
    text-align: center;
    font-size: 10px;
    font-family: Arial;
}
img{
    width: 100%;
    height: 300px;
}